/*REGULAR*/
@font-face {
    font-family: 'TitilliumWeb';
    src: url("titillium/TitilliumWeb-Regular.eot");
    src: url("titillium/TitilliumWeb-Regular.eot?#iefix2") format('embedded-opentype'),
         url("titillium/TitilliumWeb-Regular.woff") format('woff'),
         url("titillium/TitilliumWeb-Regular.otf") format('truetype'),
         url("titillium/TitilliumWeb-Regular.ttf") format('truetype');
    font-weight: 400;
}

/*ITALIC*/
@font-face {
    font-family: 'TitilliumWeb';
    src: url("titillium/TitilliumWeb-Italic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}

/*BOLD*/
@font-face {
    font-family: 'TitilliumWeb';
    src: url("titillium/TitilliumWeb-Bold.ttf") format('truetype');
    font-weight: 600;
}



/*THIN*/
@font-face {
    font-family: 'TitilliumWeb';
    src: url("titillium/TitilliumWeb-Thin.eot");
    src: url("titillium/TitilliumWeb-Thin.eot?#iefix2") format('embedded-opentype'),
         url("titillium/TitilliumWeb-Thin.woff") format('woff'),
         url("titillium/TitilliumWeb-Thin.otf") format('truetype');
    font-weight: 100;
}

/*THIN ITALIC*/
@font-face {
    font-family: 'TitilliumWeb';
    src: url("titillium/TitilliumWeb-Italic.eot");
    src: url("titillium/TitilliumWeb-Italic.eot?#iefix2") format('embedded-opentype'),
         url("titillium/TitilliumWeb-Italic.woff") format('woff'),
         url("titillium/TitilliumWeb-Italic.otf") format('truetype'),
         url("titillium/TitilliumWeb-Italic.ttf") format('truetype');
    font-weight: 100;
    font-style: italic;
}

/*LIGHT*/
@font-face {
    font-family: 'TitilliumWeb';
    src: url("titillium/TitilliumWeb-Light.eot");
    src: url("titillium/TitilliumWeb-Light.eot?#iefix2") format('embedded-opentype'),
         url("titillium/TitilliumWeb-Light.woff") format('woff'),
         url("titillium/TitilliumWeb-Light.otf") format('truetype');
    font-weight: 200;
}

/*LIGHT ITALIC*/
@font-face {
    font-family: 'TitilliumWeb';
    src: url("titillium/TitilliumWeb-LightItalic.ttf") format('truetype');
    font-weight: 200;
    font-style: italic;
}


/*SEMIBOLD*/
@font-face {
    font-family: 'TitilliumWeb';
    src: url("titillium/TitilliumWeb-SemiBold.ttf") format('truetype');
    font-weight: 500;
}

/*SEMIBOLD ITALIC*/
@font-face {
    font-family: 'TitilliumWeb';
    src: url("titillium/TitilliumWeb-SemiBoldItalic.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;       
}


/*BOLD ITALIC*/
@font-face {
    font-family: 'TitilliumWeb';
    src: url("titillium/TitilliumWeb-BoldItalic.ttf") format('truetype');
    font-weight: 600;
    font-style: italic;
}

/*BLACK*/
@font-face {
    font-family: 'TitilliumWeb';
    src: url("titillium/TitilliumWeb-Black.eot");
    src: url("titillium/TitilliumWeb-Black.eot?#iefix2") format('embedded-opentype'),
         url("titillium/TitilliumWeb-Black.woff") format('woff'),
         url("titillium/TitilliumWeb-Black.ttf") format('truetype'),
         url("titillium/TitilliumWeb-Black.svg#titilliumblack") format('svg');
    font-weight: 900;
}




/*MILIO*//*MILIO*//*MILIO*//*MILIO*/

@font-face {
  font-family: 'Milio';
  src: url('milio/Milio-Heavy.eot'); /* IE9 Compat Modes */
  src: url('milio/Milio-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('milio/Milio-Heavy.woff') format('woff'), /* Modern Browsers */
       url('milio/Milio-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('milio/Milio-Heavy.svg#3677cb3e7eb1622b59146a3fc5956b98') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  900;
}

@font-face {
  font-family: 'Milio';
  src: url('milio/Milio-Heavy-Italic.eot'); /* IE9 Compat Modes */
  src: url('milio/Milio-Heavy-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('milio/Milio-Heavy-Italic.woff') format('woff'), /* Modern Browsers */
       url('milio/Milio-Heavy-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('milio/Milio-Heavy-Italic.svg#17913c201afda69879d5a8066710be80') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  900;
}

@font-face {
  font-family: 'Milio';
  src: url('milio/Milio-Demibold.eot'); /* IE9 Compat Modes */
  src: url('milio/Milio-Demibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('milio/Milio-Demibold.woff') format('woff'), /* Modern Browsers */
       url('milio/Milio-Demibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('milio/Milio-Demibold.svg#31f5397acf781e2a3e3c3b159c609f95') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Milio';
  src: url('milio/Milio-Demibold-Italic.eot'); /* IE9 Compat Modes */
  src: url('milio/Milio-Demibold-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('milio/Milio-Demibold-Italic.woff') format('woff'), /* Modern Browsers */
       url('milio/Milio-Demibold-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('milio/Milio-Demibold-Italic.svg#9b8085ad94c54da7b6c6dd21a7eb70b4') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Milio';
  src: url('milio/Milio-Bold.eot'); /* IE9 Compat Modes */
  src: url('milio/Milio-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('milio/Milio-Bold.woff') format('woff'), /* Modern Browsers */
       url('milio/Milio-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('milio/Milio-Bold.svg#aad8ca22a1879f943ba29e8e3d1212b2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  600;
}

